.divi{
    width: 100%;
    margin-left: 60px;
    padding-bottom: 100px;
    margin-top: 50px;
    height:fit-content;
}

.divi .texto{
    float: left;
    width: 45%;
    padding-right: 20px;
}

body{
    color: aliceblue;
}

.nomeCom{
    font-size: 20px;
}

section{
    margin-top: 50px;
}

.titulo{
    font-size: 30px;
    text-transform: uppercase;
    color: brown;
}

@media(max-width: 952px){
    .titulo{
        font-size: 20px;
    }
    .divi{
        margin-left: 30px;
        margin-bottom: 400px;
   }
}

.imagem img{
    height: 450px;
    width: 40%;
    padding: 10px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 50px;
    border-color: black;
    border-radius: 20px;
}