.cafe{
    height: 400px;
    width: 100%;
    margin-left: 20px;
}

.cafe .texto{
    float: left;
    height: 400px;
    width: 700px;
}

.imagem img{
    height: 500px;
    margin: 500px;
    padding: 0%;
    margin: 0%;
    border: 50px;
    border-color: black;
}

body{
    color: aliceblue;
}

.nomeCom{
    font-size: 20px;
}

section{
    margin-top: 50px;
}

.titulo{
    font-size: 30px;
    text-transform: uppercase;
}

