.Receitas{
    margin-top: 60px;
    background-color: rgba(255, 209, 92, 0.5);
    margin-bottom: 70px;
    height: 380px;
}

.labelTitle{
    font-size: 35px;
    color: brown;
    margin-left: 10px;
}

.carroselRes{
    display: flex;
    height: 290px;
    width: 100%;
}

.container{
    width: 100%;
    height: 300px;
}

.container .imagens{
    align-items: center;
    justify-content: center;
}

.container img{
    width: 25%;
    padding: 5px;
    border-radius: 10px;
}
.carroselRes .container{
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.mais{
    float: right;
    padding-right: 20px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 3px;
}

.Restaurantes{
    background-color: rgba(255, 209, 92, 0.5);
    margin-bottom: 90px;
    height: 380px;
}

.Comentario{
    background-color: rgba(255, 209, 92, 0.5);
    height: 200px;
    width: 40hv;
}

.Comentario label{
    float: left;
    width: 90px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px;
}

.Comentario .labelTitle{
    float: none;
}

.Comentario input{
    margin-top: 10px;
}

.Comentario textarea{
    height: 60px;
    width: 250px;
    margin-top: 10px;
}

.social{
    float: right;
    width: 40hv;
    padding: 10px;
}

.social label{
    padding: 28px;
    text-align: right;
}

.social img{
   height: 50px;
   padding-left: 50px;
   margin-right: 20px;
}

@media(max-width: 952px){
    .titulo{
        font-size: 15px;
    }
    .container img{
        height: 150px;
    }
    .divi{
        margin-left: 30px;
   }
   .Restaurantes{
    height: 200px;
   }
   
   .Receitas{
    height: 200px;
   }

   .mais{
    font-size: 15px;
    float: top;
   }

   .Comentario{
    height: 250px;
   }

   .social img{
     height: 30px;
     padding-left: 40px;
     float: right;
   }

   .social label{
    font-size: 10px;
    padding: 20px;
    float: right;
   }
}

