.divi{
    width: 100%;
    margin-left: 20px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.divi .texto{
    float: left;
    width: 45%;
    padding-right: 20px;
}

.imagem img{
    height: 400px;
    width: 45%;
    padding: 0%;
    margin-right: 50px;
    margin-top: 50px;
    border: 50px;
    border-color: black;
    border-radius: 10px;
}

body{
    color: aliceblue;
}

.nomeCom{
    font-size: 20px;
}

section{
    margin-top: 50px;
}

.titulo{
    font-size: 30px;
    text-transform: uppercase;
}