*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: linear-gradient(72deg,rgb(226, 170, 19) 25%, rgb(228, 131, 21) 75%);
    overflow-x: hidden;
}

label.titulologo {
  color: brown;
  font-size: 55px;
  line-height: 80px;
  padding:0 50px;
  font-weight: bold;
}

nav{
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 209, 92, 0.7);
}

nav ul{
    float: right;;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: brown;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: rgba(191, 151, 22, 0.751);
    transition: 3s;
}

.checkbtn{
    display: none;
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.texto p{
    text-align: justify;
}

#check{
    display: none;
}

@media(max-width: 952px){
    label.titulologo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media(max-width: 850px){
    .checkbtn{
        display: block;
        color: brown;
        float: right;
    }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(246, 202, 59, 0.967);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li{
        font-size: 20px;
      }
      a.active, a:hover{
        background: none;
        color: rgba(246, 202, 59, 0.751);
      }
}

#check:checked ~ ul{
    left: 0
}

