body{
    margin: 0px;
    border: 0px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg,rgb(228, 170, 10) 1%, rgb(170, 100, 19) 99%);
}

.carrosel{
height: 530px;
weight: 935;
border-radius: 20px;
overflow: hidden;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.controle{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.barra{
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .6s;
}

.barra:hover{
    background-color: #fff;
}